

.car__item{
 
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
    height: auto;
    position: relative;
  

}

.car__item__col{

}
.car__item__col > a{
  position: relative;
   text-decoration: none;
}

.car__img{
  overflow: hidden;
  display: block;
    width: 100%;
    object-fit: fill;
    border: 0 none;
    max-width: 100%;
}

.car__img:hover{
  transform: scale(1.07) translateZ(0);
  transition: all 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.car__item-content h4 {
    font-size: 1.8rem;
  }
   
.car__item-content{
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
   
}

  .car__item-content h6 {
    font-size: 1.6rem;
    font-weight: 600;
  }

  @media only screen and (max-width: 992px) {
    .car__item-content h4 {
      font-size: 1.6rem;
      margin-bottom: 0;
    }
  
    .car__item-content h6 {
      font-size: 1.4rem;
      margin-top: 10px;
    }
  
    .car__item-content {
      flex-wrap: wrap;
    }
  
    .car__item-content span {
      font-size: 1.4rem;
      
    }
  
 
  }
  
  @media only screen and (max-width: 768px) {
    .car__item-content h4 {
      font-size: 1.4rem;
    }
  
    .car__item-content h6 {
      font-size: 1.2rem;
    }
  
    .car__item-content span {
      font-size: 1.2rem;
    }
  
    
  }